.success-page {
  text-align: center;
  padding: 150px 20px;
  background: #f2e9e7;
}

.success-page h1 {
  margin-bottom: 20px;
}

.success-page button {
  padding: 12px 25px;
  border: none;
  background: #c54a4a;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
